﻿/* ============================================================================================== 
This copyright notice must be kept untouched in the stylesheet at all times.
The original version of this stylesheet and the associated (x)html 
is available at http://www.script-tutorials.com/bootstrap-one-page-template-with-parallax-effect/
Copyright (c) Script Tutorials. All rights reserved.
This stylesheet and the associated (x)html may be modified in any way to fit your requirements.
================================================================================================= */

/* general styles */
html, body {
  height: 99%;
  width: 99%;
  margin-bottom: 60px;
    
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* additional sections */
#home {
  background: url(../images/home.jpg) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
}

#services {
  background-color: #306d9f;
  color: #ffffff;
}
#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}
#services .fas {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#information {
  background: url(../images/estate.jpg) no-repeat center center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#information .panel {
  opacity: 0.85;
}
/* additional sections */
#Testimonial {
  background-color:#ccffdd ; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  
}

#contact {
   background-color: #c8c8c8;
  color: #000000;
}

#contact.ways {
   background-color: #e2df8a;
  color: #151516;

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}
/* additional sections used in testi  rcorners 
1 green background
2 green boarder line
3 nepali paper background
4 red boarder
*/
#rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px; 
 
  height: Auto;  
}

#rcorners2 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
 
  height: Auto;  
}

#rcorners3 {
  border-radius: 80px;
  background: url(../images/paper.jpg);
  background-position: left top;
  background-repeat: repeat;
  background-size:80%;
  padding: 10px; 
  Margin:5px;
  
  height: auto;  
}
#rcorners4 {
  border-radius: 25px;
  border: 2px solid #FF0000;
  padding: 20px; 
 
  height: Auto;  
}
 #footbar {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 60px;
    background-color: #f5f5f5;
    .footbar-block {
      margin: 20px 0;
    }
  }

