//testionila new stylew 
#containerx {
    width: 100%;
    height: auto;
    background-image: url(16.jpg);
    background-color: #E9EAEA;
    margin: 10px;
    padding: 0
}

th2 {
    text-align: center;
    position: relative;
    top: 30px;
    color: black;
    text-shadow: 2px 2px 2px violet
}

#user1,
#user2,
#user3 {
    width: 84%;
    height: auto;
    border-radius: 10px;
    background-color: white;
    display: inline-block;
    margin-left: 15px;
    box-shadow: 15px 8px 15px brown;
    position: relative;
    top: 40px;
    left: 11%
}

#user1:hover,
#user2:hover,
#user3:hover {
    background-color: aquamarine;
    transition: 1s;
    width: 75%;
    height: auto;
    transform: rotate(-5deg);
    animation-duration: 3s
}

#user1_img,
#user2_img,
#user3_img
 {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: relative;
    top: 5px;
    left: 33%
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
    text-align: center;
    position: relative;
    top: 5px
}

.location {
    font-size: 20px;
    font-weight: bold;
    color: darkorange;
    text-align: center;
    position: relative;
    top: -10px
}

.cursor {
    font-size: 50px;
    color: palevioletred;
    margin-left: 10px;
    position: relative;
    top: -55px
}

.text {
    font-size: 18px;
    color: darkslategrey;
    margin-left: 25px;
    margin-right: 7px;
    position: relative;
    top: -115px
}

@media only screen and (max-width: 1200px) {

    #user1,
    #user2,
    #user3 {
        height: 600px
    }

    #container {
        height: 740px
    }
}

@media only screen and (max-width: 880px) {

    #user1,
    #user2,
    #user3 {
        height: 750px
    }

    #container {
        height: 900px
    }

    #user1_img,
    #user2_img,
    #user3_img {
        height: 70px;
        width: 70px
    }

    .name,
    .location {
        font-size: 15px;
        position: relative;
        top: 10px
    }
}

@media only screen and (max-width: 750px) {

    #user1:hover,
    #user2:hover,
    #user3:hover {
        height: 670px
    }
}

@media only screen and (max-width: 653px) {

    #user1,
    #user2,
    #user3 {
        height: 800px
    }

    #container {
        height: 950px
    }

    h2 {
        font-size: 20px
    }

    #user1:hover,
    #user2:hover,
    #user3:hover {
        height: 770px
    }
}

@media only screen and (max-width: 610px) {
    #container {
        height: 1200px
    }

    #user1,
    #user2,
    #user3 {
        display: block;
        width: 80%;
        height: 330px;
        margin-bottom: 20px
    }

    #user1:hover,
    #user2:hover,
    #user3:hover {
        height: 370px;
        width: 85%
    }

    #user1_img,
    #user2_img,
    #user3_img {
        position: relative;
        left: 42%;
        top: 10px
    }

    .name {
        position: relative;
        top: -7px
    }

    .location {
        position: relative;
        top: -20px
    }

    .cursor {
        position: relative;
        top: -75px
    }

    .text {
        position: relative;
        top: -155px
    }
}

@media only screen and (max-width: 480px) {
    #container {
        height: 1670px
    }

    #user1,
    #user2,
    #user3 {
        width: 70%;
        height: 500px
    }

    #user1:hover,
    #user2:hover,
    #user3:hover {
        height: 460px;
        width: 85%
    }
}

@media only screen and (max-width: 300px) {

    #user1_img,
    #user2_img,
    #user3_img {
        position: relative;
        left: 35%;
        height: 40px;
        width: 40px
    }

    #user1,
    #user2,
    #user3 {
        height: 600px
    }

    #container {
        height: 2000px
    }
}

@media only screen and (max-width: 262px) {

    #user1,
    #user2,
    #user3 {
        height: 750px
    }

    #container {
        height: 2600px
    }

    #user1:hover,
    #user2:hover,
    #user3:hover {
        height: 660px
    }
}

@media only screen and (max-width: 213px) {

    #user1,
    #user2,
    #user3 {
        height: 900px
    }

    #container {
        height: 3200px
    }

    #user1:hover,
    #user2:hover,
    #user3:hover {
        height: 920px
    }
}

@media only screen and (max-width: 192px) {

    #user1,
    #user2,
    #user3 {
        height: 1050px
    }

    #container {
        height: 3400px
    }

    .cursor {
        margin-left: 2px
    }

    .text {
        margin-left: 10px
    }

    #user1_img,
    #user2_img,
    #user3_img {
        position: relative;
        left: 22%
    }
}

